body {
  background-color: rgb(70, 70, 70);
  color: rgb(200, 200, 200);
}

li {
  padding: 5px;
  margin: 5px;
  background-color: rgb(150, 150, 150);
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background-color: rgb(150, 150, 150);
}

.form-group {
  margin-bottom: 5px;
}
